.test{
    width: 100px;
    background-color: blue;
}

.product-list{
    /* display: grid; */
    gap: 15px;
    border: 1px solid red ;
    width: 100%;
    /* height: fit-content; */
    display: flex;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
}

.product-list .card{
    background-color: grey;
    width: 250px;
    height: 285px;
    margin: 5px;
    box-shadow: 5px 5px 10px hsla(0, 1%, 35%, 0.511);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .car-img img{
    padding-top: 10px;
    width: 250px;
    height: auto;
}